
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(10, 10, 53);
  color: #fff;
  display: flex;
  justify-content: center;
}
.app {
  text-align: center;
}
.app h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
  margin-top: 20px;
}
.filter {
  margin-top: 20px;
}
.filter input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}
.filter button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #52a6d6;
  color: #fff;
  cursor: pointer;
}
.movie-card {
  margin-top: 20px;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
form input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}
form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #52a6d6;
  color: #fff;
  cursor: pointer;
}
.movie-detail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.movie-detail h2 {
  font-size: 2rem;
  font-family: 'Lobster', cursive;
  margin-bottom: 20px;
}
.movie-detail p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}